.d_container{animation:pictureRotateBack 1s forwards;float: left;margin: 10px;width: 360px;height:240px;position: relative;transform-style: preserve-3d;  }
.d_pic{width: 100%;height: 100%;position: absolute;background-position: 50% 50%;background-size:cover;}
.dPicBack{transform: rotateY(180deg)}
.d_container:hover{animation: pictureRotate 1s forwards}
@keyframes pictureRotate {
    from{
        transform:perspective(1000px) rotateY(0deg) ;
    }
    to{
        transform:perspective(1000px) rotateY(180deg);
    }
}
@keyframes pictureRotateBack {
    from{
        transform:perspective(1000px) rotateY(180deg);
    }
    to{
        transform:perspective(1000px) rotateY(0deg);
    }
}