<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first html</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div id="container">
<table id="table" cellspacing="0" border="1">

</table>
<div id="ipt_container">
    <label>姓名<input type="text" id="name" required="required"></label>
    <label>年龄<input type="number" id="age" required="required"></label>
    <button id="modify" disabled="disabled">修改</button>
    <button id="submit">提交</button>
</div>
</div>
</body>
<script src="javascripts/Main.js"></script>
</html>